@model PT.Web.Features.Exercises.UpsertExerciseCommand

@{
    string addEdit = Model.Id.HasValue ? "Edit" : "Add";
    ViewBag.Title = $"{addEdit} exercise";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Exercise" asp-action="AddEdit" method="post">
            <div class="form-group">
                <label>Name</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>

            @Html.ActionLink("Cancel", "Index", "Exercise", null, new { @class = "btn btn-default" })
            <Button class="btn btn-primary">@addEdit</Button>
        </form>
    </div>
</div>