<!-- Modal -->
<div class="modal fade" id="remarkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add remark</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Workout" asp-action="SetRemark" method="post">
                <input Id="workoutId" Name="Id" type="hidden" />

                <div class="modal-body">
                    <div class="form-group">
                        <label>Remark</label>
                        @Html.TextBox("Remark", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Save remark</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function setActive(id, remark) {
        $('#workoutId').val(id);
        $('#Remark').val(remark);
    }
</script>