@using PT.Web.Infrastructure
@model PT.Web.Features.Workouts.CreateWorkoutViewModel

@{
    ViewBag.Title = "Add workout";
    Layout = "_Layout";
}

<h2>Add workout</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Workout" asp-action="Create" method="post">
            <div class="form-group">
                <label>Schedulded workout date</label>
                @Html.TextBoxFor(m => m.Date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            </div>

            <div class="form-group">
                <label>Workout type</label>
                @Html.DropDownListFor(m => m.SelectedWorkoutType, Model.WorkoutTypes.ToSelectList(), new { @class = "form-control" })
            </div>

            <Button class="btn btn-default">Add</Button>
        </form>
    </div>
</div>