@model List<PT.Web.Features.WorkoutsType.WorkoutTypeViewModel>

@{
    ViewBag.Title = "Workout types";
    Layout = "_Layout";
}

<h2>Workout types</h2>

<table class="table">
    <thead>
        <tr>
            <th>Workout type</th>
            <th>Actions</th>
        </tr>
    </thead>

    @foreach (var workoutType in Model)
    {
        <tbody>
        <tr>
            <td>@workoutType.Name</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = workoutType.Id })</td>
        </tr>
        </tbody>
    }
</table>

@Html.ActionLink("Create", "Create", null, null, new { @class = "btn btn-default" })